@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;    
}
html, body {
    font-family: 'Roboto', sans-serif;
  }
  
  #app {
      font-family: 'Roboto', sans-serif;
    }
    
body{
        background: #E5E5E5!important;
        font-family: 'Roboto', sans-serif!important;
}
.input-group {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 21px;
	position: relative;
	label {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.02em;
		color: #6b6b6b;
		margin-bottom: 6px;
	}
	input {
		height: 55px;
		background: #f8f8f8;
		border: none;
		padding: 17px !important;
		outline: none;
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.02em;
        border-radius: 6px;

		color: #6b6b6b !important;
	}
	::-webkit-input-placeholder {
		/* WebKit, Blink, Edge */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
	}
	:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
		opacity: 1;
	}
	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
		opacity: 1;
	}
	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
	}
	::-ms-input-placeholder {
		/* Microsoft Edge */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
	}
	::placeholder {
		/* Most modern browsers support this now. */
		font-family: "Roboto" !important;
		font-style: italic !important;
		font-weight: normal !important;
		font-size: 16px !important;
		line-height: 21px !important;
		letter-spacing: 0.02em !important;
		color: #6b6b6b !important;
	}
}
.checkbox-container {
	display: block;
	position: relative;
	// padding-left: 35px;
	padding-left: 11px;
	margin-left: 22px;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
}

.checkbox-container:hover input ~ .checkmark {
	background-color: #d9d9d9;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: #1890FF;
	border: 1px solid #d9d9d9 !important;

	transition: all 0.3s ease-in-out;
	border: none;
}
.checkbox-container input:checked + .checkmark {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 4px;
	top: 0px;
	width: 4px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	border-radius: 0.9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.warn-btn {
	line-height: 1.5715;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	height: 32px;
	padding: 4px 15px;
	font-size: 14px;
	border-radius: 2px;
	color:#fff;
	background: transparent;
	margin-bottom: 12px;
	outline: none;
	border: 1px solid #fff;
  }